@font-face {
   font-family: digital;
   src: url(/../Fonts/digital-7.regular.ttf);
   font-weight: 400;
 }

.clock{
   font-family: digital , Sans-serif , Arial;
   position: absolute;
   top:50%;
   transform: translate(0, -50%);
   left:0;
   right:0;
   width: 400px;
   margin: 0 auto;
   height: 200px;
   text-align: center;
   background-color: #5f3334;
   border-radius: 30px;
   color: red;
   font-size: 65px;
   line-height: 200px;
}

